// Import font
@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

* {
    font-family: 'Noto Sans', sans-serif;
}

// Define color scheme
$color-dark2: #1D2D33;
$color-dark: #413e4e;
$color-darkcomp: #3C8A89;
$color-mid: #AFBDA5;
$color-light: #F6E0BC;
$color-highlight: #ED6866;
$color-white: white;

.current {
    color: green;
}

header {
    // padding: 156px 0 100px;
    padding: 100px 0 50px;
    // background-image: linear-gradient(to right, #007bff 10%, #663399 100%) !important;
    background-color: $color-darkcomp;
    color: $color-white;
}

.navbar {
    background-color: $color-dark;
}
  
section {
    padding: 50px 0;
}

.blog-post {
    padding: 25px 0;
}